<%- include ('./layout/header.ejs'); -%>
<section class="features" id="features">

    <h1 class="heading"> Chương mới cập nhật </h1>
    <div class="box-container">
        <%
            products.forEach( (item) =>{%>
                <div class="box">
                    <h3><%= item.product %></h3>
                    <img src="/product_images/<%= item.image %>" alt="<%= item.name %>">
                    <h3>Chương <%= item.name %></h3>
                    <p><%= item.category %></p>
                    <a href="/products/<%= item.product %>" class="btn">
                        Xem chi tiết
                    </a>
                </div>
            <%})
        %>
        
    </div>
    
    

</section>

<% if(pages > 0) { %>
            
    <nav >
        <ul class="pagination">
        <!-- FIRST ITEM -->  
        <% 
            if(current == 1) { %> 
            <!-- // Nếu thông số http://localhost:3333/news/1/ là 1 thì First sẽ bị disabled -->
                <li class="page-item"><a class="page-link" href="/">Trước</a></li>
            <% } else { %>
            <!-- // Nếu thông số http://localhost:3333/news/2/ từ 2 trở lên thì First sẽ bỏ disabled -->
                <li class="page-item"><a class="page-link" href="/">Trước</a></li>
            <% } %>
            
            <!-- ITEMS  -->
            <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %> 
            <!-- if(Number(current > 3) {
                Number(current) -2
            }else {
                1
            } -->
                <!-- // Toán tử điều kiện 3 ngôi syntax: < điều_kiện ? giá_trị_1 : giá_trị_2 >
            // Nếu điều_kiện trả về true, toán tử có giá trị giá_trị_1. Ngược lại toán tử có giá trị giá_trị_2. -->
            <% if(i !== 1) { %>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
            <% } %>
            <% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
            <!-- // Sử dụng vòng lặp để lặp qua từng trang và tăng số trang 
            // Trong vòng lặp for có ba biểu thức tùy chọn nên chỉ cần các bạn tách mỗi biểu thức bằng dấu `;` là oke rồi -->
                <% if(i == current) { %>
                <li class="page-item"><a class="page-link" href="/page/<%= i %>"><%= i %></a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/page/<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 2 && i < pages) { %>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
            <% } %>
            <% } %>
            
            <!-- LAST ITEM -->
            <% if(current == pages) { %> 
            <!-- // Nếu số current( chỉ số phân trang ) là 6 và tổng số page là 6 thì Last bị disabled -->
                <li class="page-item"><a class="page-link" href="#">Sau</a></li>
            <% } else { %>
            <!-- // Ngược lại, thì Last là trang cuối cùng pages ở đây là 6 đồng nghĩa với Last là trang số 6 -->
                <li class="page-item"><a class="page-link" href="/page/<%= pages %>">Sau</a></li>
            <% } 
        %>
        </ul>
    </nav>   
<% } %>


<%- include ('./layout/footer.ejs'); -%>