<%- include ('./layout/header.ejs'); -%>

<div class="information-container">
    <div class="container">
        <div class="title">Thông tin tài khoản</div>
        <div class="content">
            <form action="/user/information/update/<%= user._id %>?_method=PUT" method="POST" >
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Tên hiển thị</span>
                        <input class="capitalize" type="text" name="name" value="<%= user.name %>" placeholder="Tên hiển thị">
                    </div>
                    <div class="input-box">
                        <span class="details">Tài khoản</span>
                        <input type="text" value="<%= user.username %>" name="username" readonly placeholder="nhanvien1">
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" value="<%= user.email %>" name="email" placeholder="example@gmail.com">
                    </div>
                
                </div>
                <div class="button">
                    <input type="submit" value="Cập nhật thông tin">
                </div>
                <div class="button">
                    <a href="/user/information/password/<%= user._id %>">Cập nhật mật khẩu</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ('./layout/footer.ejs'); -%>